

header{
    display: flex;
    justify-content: space-around;
}

.ooo{
    background-color: red;
    width: 300px;
    height: 300px;
    margin-left: 100px ;
    margin-top: 80px;
    margin-top: 50px;
}

h1{
    text-align: center;
    color: rgb(8, 8, 8);
}

body{
    text-align: center;
}

.rrr{
    display: flex;
    justify-content: space-around;
    
}

.ddd{
    color: white;
}

.www{
    background-color: red;
    width: 300px;
    height: 300px; 
    margin-left: 600px; 
}
